@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Ysabeau+SC:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  small {
    @apply text-red-500 leading-3 tracking-widest;
  }
}

@layer components {
  .about-para {
    @apply my-4 text-xl font-GentiumBookPlus text-justify;
  }

  .contact-form-control {
    @apply w-full rounded-md focus-within:border-secondary  focus-within:ring-secondary;
  }

  .form-group {
    @apply mt-3;
  }

  .label-group {
    @apply text-xl;
  }

  .input-control {
    @apply block w-full text-lg outline-none ring-0 rounded-md border-2;
  }
  .input-control:focus-within {
    @apply outline-none ring-0 border-secondary;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  .btn {
    @apply px-4 py-2 bg-red-200 rounded-md;
  }

  .btn-primary {
    @apply text-xl text-primary bg-secondary;
  }

  .loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#58371f 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: b1 1s infinite linear;
  }
  @keyframes b1 {
    0% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
    33% {
      background-size: 20% 10%, 20% 100%, 20% 100%;
    }
    50% {
      background-size: 20% 100%, 20% 10%, 20% 100%;
    }
    66% {
      background-size: 20% 100%, 20% 100%, 20% 10%;
    }
    100% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
  }

  .error {
    @apply bg-red-100 text-red-600 border border-red-600 px-4 py-2 rounded-md my-3 capitalize;
  }

  .nav-link {
    @apply text-xl font-semibold text-[#767676];
  }

  a.active {
    @apply text-secondary;
  }
}
